<img src="/images/enova_logo.jpg" width="239" height="77" border="0" />
<h2>Enova Expenses</h2>
<p>Welcome to your one stop shop for submitting Enova Expense Reports!</p>
<p></p>
<p> Please have the following information available for each expense:<br>
<li type="square">Date of Expense</li>
<li type="square">Place of Expense</li>
<li type="square">City</li>
<li type="square">State</li>
<li type="square">Business Purpose</li>
<li type="square">Amount</li>
</p>
<p></p>
<p>Happy Expensing!</p>
<p></p>
<%= link_to 'Enter New Expense', new_expense_path %><br>
<%= link_to "View Past Expenses", expenses_path %>
